div.buttons-wrapper {
  display: flex;
  justify-content: center;
  &.is-hidden {
    display: none;
  }
}

.button {
  border: transparent;
  border-radius: 5px;
  max-width: 136px;
  width: 100%;
  height: 44px;

  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  color: $text-dark-theme-color;
  background-color: $button-main-background-color;

  &.noactive {
    border: 1px solid #ffffff;
    background-color: transparent;
  }
}

.button:not(:last-child) {
  margin-right: 15px;
}

.modal-light-btn {
  border: 1px solid #000000;
  color: $text-light-theme-color;
  background-color: transparent;
}

.button:hover,
.button:focus {
  background-color: $hover-btn-main-background-color;
}

.header-light-btn:hover,
.header-light-btn:focus {
  background-color: $hover-header-light-btn-background-color;
}

.modal-light-btn:hover,
.modal-light-btn:focus {
  background-color: $hover-light-btn-background-color;
}

.button[disabled] {
  background-color: $disabled-btn-main-background-color;
}

.button.modal-light-btn[disabled] {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
}
