// backdrop styles
.modal-overflow {
  overflow: hidden;
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.movie-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;    
}

  
.movie-modal.is-hidden {
    opacity: 0;
    pointer-events: none;
}

  
.movie-modal .container {
    width: 100%;
}

.backdrop{
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    
    overflow-y: scroll;
}

.film-card {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
          transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #fff;
    max-height: 95vh;
    overflow-y: auto;  

    @media screen and (min-width: 768px) {
        display: flex;
        width: 668px;

  }

    @media screen and (min-width: 1024px) {
        width: 886px;
        padding: 50px;
  }
}

.close-button {
    position: absolute;
    z-index: 100;
    top: 15px;
    right: 15px;
    display: block;
     width: 35px;
    height: 35px;
        
    padding: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:  50%;
    cursor: pointer;
    @media screen and (min-width: 768px) {
        width: 45px;
        height: 45px;
        top: 20px;
        right: 20px;
  }

  @media screen and (min-width: 1024px) {
    top: 40px;
    right: 40px;
  }
  }

  .close {
    position: absolute;
    bottom: 0px;
    left: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    @media screen and (max-width: 767px) {
        bottom: -5px;
        left: 0px;
    }
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: grey;
    

  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

 




