/* задаємо sass-змінні */
$main-font: 'Roboto', sans-serif;

$text-dark-theme-color: #ffffff;
$text-light-theme-color: #000000;
$text-notification-color: #ff001b;
$text-footer-color: #545454;
$text-modal-window-color: #8c8c8c;

$accent-color: #ff6b08;

$button-main-background-color: #ff6b01;
$hover-btn-main-background-color: rgba(255, 107, 1, 0.8);
$hover-light-btn-background-color: rgba(255, 107, 1, 0.1);
$hover-header-light-btn-background-color: rgba(140, 140, 140, 0.4);
$disabled-btn-main-background-color: rgba(255, 107, 1, 0.5);

$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
