/* задаємо sass-змінні */
$main-font: 'Roboto', sans-serif;

$text-dark-theme-color: #ffffff;
$text-light-theme-color: #000000;
$text-notification-color: #ff001b;
$text-footer-color: #545454;
$text-modal-window-color: #8c8c8c;

$accent-color: #ff6b08;

$button-main-background-color: #ff6b01;
