.footer-backdrop {
  position: absolute;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
}

.footer-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity $transition-duration $timing-function;
  overflow-y: auto;
}

.footer-modal.is_hidden {
  opacity: 0;
  pointer-events: none;
}

.js-open-modal {
  text-decoration: underline;
  cursor: pointer;
}

.team-member img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.our-team-modal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
  height: 95vh;
  width: 80vw;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
  overflow-y: auto;

  @media screen and (min-width: 768px) {
    width: 668px;
  }

  @media screen and (min-width: 1024px) {
    width: 886px;
    padding: 50px;
  }
}

.our-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 200px;
}

ul {
  list-style: none;
}

.member-email {
  color: $accent-color;
}

.footer-close-button {
  position: absolute;
  z-index: 100;
  top: 15px;
  right: 15px;
  display: block;
  width: 35px;
  height: 35px;

  padding: 0;
  background-color: #fff;
  border: 1px solid $text-modal-window-color;
  border-radius: 50%;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 45px;
    height: 45px;
    top: 20px;
    right: 20px;
  }

  @media screen and (min-width: 1024px) {
    top: 50px;
    right: 50px;
  }

  .close {
    position: absolute;
    bottom: 0px;
    left: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    @media screen and (max-width: 767px) {
      bottom: -5px;
      left: 0px;
    }
  }

  .close:hover {
    opacity: 1;
  }

  .close:before,
  .close:after {
    position: absolute;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: $text-footer-color;
  }

  .close:before {
    transform: rotate(45deg);
  }

  .close:after {
    transform: rotate(-45deg);
  }
}
