.header {
  height: 230px;
  padding-top: 41px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/mobile-home/mobile-home.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/mobile-home/mobile-home@2x.jpg);
  }
}

.menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 38px;

  &.library {
    margin-bottom: 49px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;

  & > svg {
    margin-right: 12px;
  }

  & > .logo__text {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;

      font-size: 30px;
      line-height: 1.17;
      text-decoration: none;
    }
  }
}

.page__link {
  position: relative;
  top: -1px;

  font-family: Roboto;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  text-transform: uppercase;

  color: #ffffff;

  &.active {
    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;

      width: 100%;
      height: 3px;

      background-color: #ff6b08;
    }
  }

  &:not(:last-child) {
    margin-right: 39px;
  }
}

.input__wrapper {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  // & > .input__icon {
  //   position: absolute;
  //   top: 50%;
  //   right: 0;
  //   transform: translateY(-50%);
  //   width: 12px;
  //   height: 12px;
  //   background: url(../images/search.svg);
  // }

  @media screen and (min-width: 768px) {
    width: 336px;
  }
}
.js-search-btn {
  position: absolute;
  position: absolute;
  top: 50%;
  right: 0;
  border: none;
  outline: none;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: url(../images/search.svg);
}

.js-input {
  width: 100%;
  height: 20px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-bottom: 0.5px solid #ffffff;
  border-left: none;
  outline: none;
  color: #ffffff;

  &::placeholder {
    color: #ffffff;
  }
}

@media screen and (min-width: 480px) and (max-width: 959px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tablet-home/tablet-home.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/tablet-home/tablet-home@2x.jpg);
    }
  }
}

@media screen and (min-width: 960px) {
  .header {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desktop-home/desktop-home.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/desktop-home/desktop-home@2x.jpg);
    }
  }
}
