a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
.sign_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.hide {
  display: none;
}
.sign_fotm_btn {
  position: absolute;
  z-index: 100;
  top: 15px;
  right: 15px;
  display: block;
  width: 35px;
  height: 35px;

  padding: 0;
  background-color: #200122;

  border-radius: 50%;
  cursor: pointer;
}

.container-sign_in,
.container-sign_up {
  opacity: 1;
}

.tab {
  background: -webkit-linear-gradient(to bottom, #6f0000, #200122);
  background: linear-gradient(to bottom, #6f0000, #200122);
  padding: 40px 50px;
  position: fixed;
  border-radius: 20px;

  width: 300px;
  height: 300px;

  z-index: 1000;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    width: 350px;
    height: 350px;
  }
  @media screen and (min-width: 1024px) {
    width: 350px;
    height: 350px;
  }
}
.is-unactive {
  opacity: 0;
}
.tab .tab-content {
  padding: 5px 0 0 0;
  background: transparent;
  z-index: 1;
  position: relative;
}
.text {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-left: 7px;
  line-height: 20px;
  padding-top: 5px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.tabpanel .text {
  margin-bottom: 5px;
}

.form-horizontal .form-group {
  margin: 0 0 15px 0;
  position: relative;
}
.form-horizontal .form-control {
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  box-shadow: none;
  padding: 0 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.form-horizontal .form-control:focus {
  box-shadow: none;
  outline: 0 none;
}
.form-horizontal .form-group label {
  padding: 0 20px;
  color: #7f8291;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.form-horizontal .text {
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin-left: 7px;
  line-height: 20px;
  padding-top: 5px;
  text-transform: capitalize;
}
.form-horizontal .btn {
  width: 100%;
  background: #eec111;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
}
.form-horizontal .btn:focus {
  background: #eec111;
  color: #fff;
  outline: none;
  box-shadow: none;
}
.form-horizontal .forgot-pass {
  border-top: 1px solid #615f6c;
  margin: 0;
  text-align: center;
}
.btn {
  cursor: pointer;
}
.form-horizontal .forgot-pass .btn {
  width: auto;
  background: transparent;
  margin: 5px 0 0 0;
  color: #615f6c;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.form-horizontal .forgot-pass .btn:hover {
  color: #eec111;
}
@media only screen and (max-width: 479px) {
  .tab {
    padding: 40px 20px;
  }
}
