// Модалка
.movie-modal{
  display: flex;
  padding: 20px;
}
.movie-modal-image{
  margin-right: 30px;
 
}
.movie-modal-title{
 margin-top: 0px;
 margin-bottom: 20px;
 font-size: 30px;
 line-height: 1.16;
text-transform:uppercase;

}
.movie-modal-properties-values{
  display: flex;
  margin-bottom: 20px;
}
.list{
  margin:0px;
}

.movie-modal-properties{
 list-style: none;
 padding-left:0px;

 font-size: 12px;
 color:$text-modal-window-color;
}
.movie-modal-properties li:not(:last-child){
  margin-bottom: 10px;
}
.movie-modal-values{
 list-style: none;
 padding-left:0px;
 margin-left: 83px;
 line-height: 1.16; 
}
.modal-original-title{
  text-transform:uppercase;
  line-height: 1.33;
}
.modal-genre {
  line-height: 1.33;
  
}
.modal-genre-item{
 margin-right: 5px;
}
.movie-modal-values li:not(:last-child){
  margin-bottom: 10px;
}
.modal-genre {
 display: flex;
}
.about-modal {
  margin-top: 0px;
  margin-bottom: 10px;
   font-size: 12px;
line-height: 1.33;

text-transform: uppercase;
}
.about-modal-description {
 margin-top: 0px;
 margin-bottom: 20px;

font-size: 12px;
line-height: 1.66;

}
.modal-vote{
 display: block;
  background-color:$button-main-background-color;
  width: 36px;
  text-align: center;
  border-radius:5px;
  color: $text-dark-theme-color;
}

.modal-count {
  display: block;
  text-align: center;
 background-color: #F7F7F7;
     width: 36px;
      border-radius:5px
}
.modal-line {
   background-color: transparent;
   display: block;
       width: 8px;
       text-align: center;
       color:$text-modal-window-color;
}
.modal-vote-count {
  display: flex;
}