@import './base/normalize';
@import './utils/variables';
@import './base/common';

@import './components/container';
@import './components/button';

@import './layout/modalMoovie';
@import './layout/trendMovee';
