@import './base/normalize';
@import './utils/variables';
@import './base/common';

@import './components/container';
@import './components/button';
@import './components/modal';
@import './components/pagination';
@import './components/spinner';

@import './layout/home-header';
@import './layout/library-header';
@import './layout/footer';
@import './layout/modalMoovie';
@import './layout/trendMovee';
@import './layout/footer-modal';
